
@font-face {
  font-family: 'LeagueSpartan-Regular';
  src: url("../fonts/LeagueSpartan-Regular.ttf") format("truetype"); }
@font-face {
    font-family: 'futura-heavy';
    font-weight: 600;
  src: url("../fonts/LeagueSpartan-SemiBold.ttf") format("truetype"); 
}
@font-face {
    font-family: 'lobster';
    src: url('../fonts/SVN-LOBSTER.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/SVN-LOBSTER.TTF')  format('truetype'), /* Safari, Android, iOS */
}