$color-main: #004281;
$color-text: #000;
$color-second: #E7C352;
$color-light: #6DABDD;
$color-gray: #707070;
$color-graylight: rgba(#707070, 0.7);
$color-other: #940101;
$font: 'LeagueSpartan-Regular', sans-serif;
$fontLob: 'lobster', sans-serif;